%infoBlock {
    margin-left: 0;
    margin-right: 0;
    padding: 0px;
    justify-content: center;
    img {
        padding: 0px;
    }
}
%button {
    background-color: rgba(#48CFAD, 0.8);
    border-color: rgba(#48CFAD, 0.8);
    color: white;
    margin-top: 2%;
    margin-bottom: 30%;
    &:hover {
        background-color: rgba(#48CFAD, 0.8);
        border-color: rgba(#48CFAD, 0.8);
        color: #434A54;
    }
}
%input {
    margin-bottom: 2%;
    border: 1px solid #E4E9F7;
    &:hover {
        border: 1px solid rgba(#48CFAD, 0.8);
    }
}
%informBlocks {
    .txt_blk {
        p, li {
            list-style: none;
            text-align: justify;
            color: rgba(#48CFAD, 0.8);
            margin-bottom: 10px;
        }
        h5 {
            text-align: center;
        }
    }
}

%flexCenter{
	display:flex;
	justify-content:center;
}
