body, html{
	@include sameWH(100%);
	position: relative;
	margin: 0px;
	overflow-x: hidden;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.three-dots-row-spinner{
	@include sameWH(100px);
}