body{
    margin:0;
    padding:0;
}
#leader {
    min-height: 95vh;
    background-size: cover;
    background-image: url('../../image/dogChair.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    @extend .navbar-stick;
    margin-top: -16vh;
    .container {
        margin-top: 20vh;
    }
    h1, p {
        font-weight: normal;
        text-shadow: 0px 2px 5px #111;
    }
    #description {
        background: rgba(#000, 0.5);
    }
    .button-group {
        margin-top: 5vh;
    }
    p {
        margin-top: 5vh;
    }
}
#pttrInfo {
padding:0;
margin:0;
    display: flex;

    .onHoverInfo1 {
        @extend %infoBlock;
        background-image: url('../../image/infoBlock1.jpg');
    }
    .onHoverInfo2 {
        @extend %infoBlock;
        background-image: url('../../image/infoBlock2.jpg');
    }
    .onHoverInfo3 {
        @extend %infoBlock;
        background-image: url('../../image/infoBlock3.jpg');
    }
    .onHoverInfo4 {
        @extend %infoBlock;
        background-image: url('../../image/infoBlock4.jpg');
    }
}
