#leader {
    min-height: 95vh;
    background-size: cover;
    background-image: url('../../image/dogChair.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    @extend .navbar-stick;
    margin-top:-16vh;
    .container {
        margin-top: 20vh;
    }

    h1, p {
        font-weight: normal;
        text-shadow: 0px 2px 5px #111;
    }

    #description {
        background: rgba(#000, 0.5);
    }

    .button-group {
        margin-top: 5vh;
    }

    p {
        margin-top: 5vh;
    }
}