<div class="animated fadeIn" id="animalPage">
    <div class="container-fluid">
        <div class="header row">
            <div class="col-sm-12">
                <img ng-src="{{pet.pictures.largePicture}}" class="profilePic img-responsive" alt="{{pet.name}}">
                <h3>{{pet.name}}</h3>
            </div>
        </div>
        <div class="row">
            <h1>{{pet.name}} Information</h1>
            <div class="container">
                <div class="col-sm-6">
                    <div class="aInfo">
                        <ul>
                            <li>Name:{{pet.name}}</li>
                            <li>Id:{{[pet.id]}}</li>
                            <li>Belongs to:{{pet.belongsToShelter}}</li>
                            <li>Species:{{pet.species}}</li>
                            <li>Breed:{{pet.breed}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="aInfo">
                        <ul>
                            <li>Sex:{{pet.sex}}</li>
                            <li>Color:{{pet.color}}</li>
                            <li>Status:{{pet.status}}</li>
                            <li>Age:{{pet.age}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-sm-12">
                    <div class="aInfo">
                        <p>
                            Description:{{pet.description}}
                            
                        </p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
