<div class="animated fadeIn" id="animalPage">
    <div class="container-fluid">
        <div class="header row">
            <div class="col-sm-12">
                <img src="image/userDefault.png" class="profilePic img-responsive">
                <h3>{name}</h3>
            </div>
        </div>
        <div class="row">
            <h1>{{name}} Information</h1>
            <div class="container">
                <div class="col-sm-6">
                    <div class="aInfo">
                        <ul>
                            <li>Name:{{name}}</li>
                            <li>Id:{{id}}</li>
                            <li>Belongs to:{{belongsToShelter}}</li>
                            <li>Species:{{species}}</li>
                            <li>Breed:{{breed}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="aInfo">
                        <ul>
                            <li>Sex:{{sex}}</li>
                            <li>Color:{{color}}</li>
                            <li>Status:{{status}}</li>
                            <li>Age:{{age}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-sm-12">
                    <div class="aInfo">
                        <p>
                            Description:{{description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
