<div id="userdash">
    <header>
        <h1>DashBoard</h1>
    </header>
    <div class="container-fluid" ng-class="{'show-menu': showmenu }">

        <div class="menu-wrap">
            <nav class="menu">
                <div class="profile"><img src="img/related/sidebartransitions.png" alt="Matthew Greenberg" /><span>Matthew Greenberg</span>
                </div>
                <div class="link-list">
                    <a href="#"><span>Latest stories</span></a>
                    <a href="#"><span>Your friends</span></a>
                    <a href="#"><span>Personal Settings</span></a>
                    <a href="#"><span>Security &amp; Privacy</span></a>
                </div>
                <div class="icon-list">
                    <a href="#"><i class="fa fa-fw fa-home"></i></a>
                    <a href="#"><i class="fa fa-fw fa-question-circle"></i></a>
                    <a href="#"><i class="fa fa-fw fa-power-off"></i></a>
                </div>
            </nav>
        </div>
        <button ng-click="activate()" class="menu-button" id="open-button"><i class="fa fa-fw fa-cog"></i><span>Open Menu</span>
        </button>
        <div class="row pgwrap">
            <div class="col-xs-3">
                <div class="grid">
                    <figure class="effect-zoe" data-toggle="modal" data-target="#myModal">
                        <img src="image/25.jpg" alt="img25" />
                        <figcaption>
                            <h2>Creative <span>Zoe</span></h2>
                            <p class="icon-links">
                                <a href="#"><span class="icon-heart"></span></a>
                                <a href="#"><span class="icon-eye"></span></a>
                                <a href="#"><span class="icon-paper-clip"></span></a>
                            </p>
                            <p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                            <p class="dname description">Name of Dog</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="grid">
                    <figure class="effect-zoe" data-toggle="modal" data-target="#myModal">
                        <img src="image/25.jpg" alt="img25" />
                        <figcaption>
                            <h2>Creative <span>Zoe</span></h2>
                            <p class="icon-links">
                                <a href="#"><span class="icon-heart"></span></a>
                                <a href="#"><span class="icon-eye"></span></a>
                                <a href="#"><span class="icon-paper-clip"></span></a>
                            </p>
                            <p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                            <p class="dname description">Name of Dog</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="grid">
                    <figure class="effect-zoe" data-toggle="modal" data-target="#myModal">
                        <img src="image/25.jpg" alt="img25" />
                        <figcaption>
                            <h2>Creative <span>Zoe</span></h2>
                            <p class="icon-links">
                                <a href="#"><span class="icon-heart"></span></a>
                                <a href="#"><span class="icon-eye"></span></a>
                                <a href="#"><span class="icon-paper-clip"></span></a>
                            </p>
                            <p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                            <p class="dname description">Name of Dog</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="grid">
                    <figure class="effect-zoe" data-toggle="modal" data-target="#myModal">
                        <img src="image/25.jpg" alt="img25" />
                        <figcaption>
                            <h2>Creative <span>Zoe</span></h2>
                            <p class="icon-links">
                                <a href="#"><span class="icon-heart"></span></a>
                                <a href="#"><span class="icon-eye"></span></a>
                                <a href="#"><span class="icon-paper-clip"></span></a>
                            </p>
                            <p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                            <p class="dname description">Name of Dog</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="grid">
                    <figure class="effect-zoe" data-toggle="modal" data-target="#myModal">
                        <img src="image/25.jpg" alt="img25" />
                        <figcaption>
                            <h2>Creative <span>Zoe</span></h2>
                            <p class="icon-links">
                                <a href="#"><span class="icon-heart"></span></a>
                                <a href="#"><span class="icon-eye"></span></a>
                                <a href="#"><span class="icon-paper-clip"></span></a>
                            </p>
                            <p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                            <p class="dname description">Name of Dog</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="grid">
                    <figure class="effect-zoe" data-toggle="modal" data-target="#myModal">
                        <img src="image/25.jpg" alt="img25" />
                        <figcaption>
                            <h2>Creative <span>Zoe</span></h2>
                            <p class="icon-links">
                                <a href="#"><span class="icon-heart"></span></a>
                                <a href="#"><span class="icon-eye"></span></a>
                                <a href="#"><span class="icon-paper-clip"></span></a>
                            </p>
                            <p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                            <p class="dname description">Name of Dog</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="grid">
                    <figure class="effect-zoe" data-toggle="modal" data-target="#myModal">
                        <img src="image/25.jpg" alt="img25" />
                        <figcaption>
                            <h2>Creative <span>Zoe</span></h2>
                            <p class="icon-links">
                                <a href="#"><span class="icon-heart"></span></a>
                                <a href="#"><span class="icon-eye"></span></a>
                                <a href="#"><span class="icon-paper-clip"></span></a>
                            </p>
                            <p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                            <p class="dname description">Name of Dog</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="grid">
                    <figure class="effect-zoe" data-toggle="modal" data-target="#myModal">
                        <img src="image/25.jpg" alt="img25" />
                        <figcaption>
                            <h2>Creative <span>Zoe</span></h2>
                            <p class="icon-links">
                                <a href="#"><span class="icon-heart"></span></a>
                                <a href="#"><span class="icon-eye"></span></a>
                                <a href="#"><span class="icon-paper-clip"></span></a>
                            </p>
                            <p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                            <p class="dname description">Name of Dog</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="grid">
                    <figure class="effect-zoe" data-toggle="modal" data-target="#myModal">
                        <img src="image/25.jpg" alt="img25" />
                        <figcaption>
                            <h2>Creative <span>Zoe</span></h2>
                            <p class="icon-links">
                                <a href="#"><span class="icon-heart"></span></a>
                                <a href="#"><span class="icon-eye"></span></a>
                                <a href="#"><span class="icon-paper-clip"></span></a>
                            </p>
                            <p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                            <p class="dname description">Name of Dog</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div> 
        <!-- Modal -->
        
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>