<div class="row infoblk_content" id="pttr-info">
    <div class="content_title">
        <h1>How Pttr Works</h1>
    </div>
    <div class="col-sm-12">
        <i class="icon fa fa-exchange col-sm-6">
        	<p class="content">
        		The Pttr platform was created in order to establish a more solid connection between possible adopters and strays. This will lead to more efficient adoption. Pttr provides easy access to stray pets information. After completing their profile, a user can choose to “like” an animal to save onto their profile the ones they are interested in. They can also choose to go through the adoption process straight from the site given they provide their information.
        	</p>
            <br>
        </i>
        <i class="icon fa fa-users col-sm-6">
        	<p class="content">
        		Shelter users are able to upload logs of stray animals that provide images and information on the stray such as their age, breed, weight, and other specifications. A shelter can also keep track of how many “likes” an animal in their shelter receives along with communicating with other shelters.
        	</p>
            <br>
        </i>
    </div>
</div>