<div class="row infoblk_content" id="signup">
    <div class="content_title">
        <h1>Sign Up</h1>
    </div>
    <div class="col-sm-12">
        <div class="content btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a type="button"  ui-sref="app.user.register" class=" stBtn btn btn-default">User</a>
            </div>
            <div class="btn-group" role="group">
                <a type="button" ui-sref="app.shelter.register" class="stBtn btn btn-default">Shelter</a>
            </div>
        </div>
    </div>
</div>
