<div class="row infoblk_content active" id="goals">
    <div class="content_title">
        <h1>Goals</h1>
    </div>
  <div class="col-sm-12">
        <i class="icon fa fa-paw col-sm-6">
        	<p class="content">
        		Pttr hopes to create a bridge between stray animals in need of a second chance and loving homes before euthanasia occurs. We want to give strays the opportunity to live a healthier lifestyle with a caring owner in a loving home.
        	</p>
            <br>
        </i>
        <i class="icon fa fa-flag col-sm-6">
        	<p class="content">
        		Shelters currently run on legacy systems that are outdated which decrease efficiency in terms of keeping track of all records. This also allows for low adoption rates which then leads to euthanasia. At Pttr, we are currently working on getting these shelters and rescue groups to utilize our platform to bring everyone into the 21st century.
        	</p>
            <br>
        </i>
        </i>
    </div>
</div>


