<div class="container-fluid" id="leader">
    <div class="container">
        <div class="col-md-8">
            <h2 class="animated fadeInUp">A second chance</h2>
            <p class="animated fadeInUp">Pttr connects everyday individuals like you to animal shelters in your local area, who need your support - shelters that often lack the resources to help the troubling number of stray animals out in the streets.
                <br>
                <br> Pttr also empowers shelters to easily manage and track both stray animals currently in their care as well as those that are out in the street.
                <br>
                <br> Best of all, Pttr is free - and always will be.
            </p>
            <div class="button-group">
                <a class="animated fadeInUp btn btn-lg" id="signUp">Sign Up</a>
            </div>
        </div>
    </div>
</div>
<section id="pttrInfo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 infoBlock " ng-repeat="tab in tabs" ng-click="onClickTab(tab)" ng-mouseenter="activate = !activate"  ng-mouseleave="activate = !activate" >
                <div ng-class="{active:isActiveTab(tab.url)}" >
                    <div class="overlay infoAnimate fadeUp" ></div>
                    <img class="img-responsive" ng-src="{{tab.img}}">
                    <div class="infoTitle_blk animated" ng-class="{fadeInUp:activate, fadeOutDown: !activate}">
                        <h2>{{tab.title}}</h2>
                    </div>
                    <div class="arrow_blk">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div ng-include="currentTab"></div>
    </div>
</section>
