<div class="row infoblk_content" id="mission">
    <div class="content_title">
        <h1>Mission</h1>
    </div>
    <div class="col-sm-12">
        <i class="icon fa fa-home col-sm-6">
        	<p class="content">
        		At Pttr, we strive to prevent as many strays as possible from being euthanized. Pttr will not only increase adoption rates, but ensure happiness within the new owners so both can lead a healthier mental and physical lifestyle. The Pttr platform was made to provide easy access to strays in local animal shelters and rescue centers. Thus, making adoption a more efficient and simpler option.
        	</p>
            <br>
        </i>
        <i class="icon fa fa-heart col-sm-6">
        	<p class="content">
        		Stray animals get the short-end of the leash (MAYBE A GOOD PUN? MAYBE NOT APPROPRIATE). They border the edge of euthanasia everyday they are in a shelter. Most strays have two to four weeks for an adoption to happen before they are euthanized. Pttr aims to decrease the amount of euthanasia.
        	</p>
            <br>
        </i>
        </i>
    </div>
</div>
