<div class="login animated fadeInUp" id="editShelter" >
    <div class="container-fluid" ng-class="{'show-menu': showmenu }">
        <div class="menu-wrap">
            <nav class="menu">
                <div class="profile"><img src="image/shelter.jpg" alt="" /><span>Animal Shelter</span>
                </div>
                <div class="link-list">
                    <a ng-repeat="tab in tabs" ng-click="onClickTab(tab)"><span>{{tab.tab}}</span></a>
                </div>
                <div class="icon-list">
                    <!-- takes the user to their dash board -->
                    <a ui-sref="app.shelter.view"><i class="fa fa-fw fa-home"></i></a>
                    <!-- Takes the user to their own view -->
                    <a ui-sref="app.shelter.edit"><i class="fa fa-fw fa-question-circle"></i></a>
                    <!-- log out  -->
                    <a><i class="fa fa-fw fa-power-off"></i></a>
                </div>
            </nav>
        </div>
        <!-- end menu -->
        <!-- button to activate the menu -->
        <!-- start btn -->
        <button ng-click="activate()" class="menu-button" id="open-button"><i class="fa fa-fw fa-cog"></i><span>Open Menu</span>
        </button>
        <div class="container profileSettings">

            <h1>Edit Information</h1>
            <h3>Basic Information</h3>
            <form>
                <div class="row">
                    <div class="col-sm-6" ng-init="isDisable=false">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input disable="{{isDisable}}" type="text" class="form-control" id="name" name="name" placeholder="Enter Fullname" ng-model="edit.data.name">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input disable="{{isDisable}}" type="text" class="form-control" id="address" name="address" placeholder="Enter Your Address" ng-model="edit.data.address">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input disable="{{isDisable}}" type="password" class="form-control" id="password" name="password" placeholder="Enter Password" ng-model="edit.data.password">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input disable="{{isDisable}}" type="text" class="form-control" id="email" name="email" placeholder="Enter Email" ng-model="edit.data.email">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input disable="{{isDisable}}" type="text" class="form-control" id="phone" name="phone" placeholder="Enter Phone Number" ng-model="edit.data.phone">
                        </div>
                        <div class="form-group">
                            <label for="cPassword">Confirm Password</label>
                            <input disable="{{isDisable}}" type="password" class="form-control" id="cPassword" name="CPassword" placeholder="Confirm Password" ng-model="edit.data.cPassword">
                        </div>
                        <div class="btn_blk">
                            <button class="btn btn-lg">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
