%header{
	position: fixed;
	width: 100%;
	background: red;
	h1{
		text-align: center;
		text-transform: uppercase;
	}
	z-index:50;
}
#userdash{
	header{
		@extend %header;
	}	
}
#shelterdash{
	header{
		@extend %header;
	}	
}