// Responsive variable-height footer hack
nav {
    height: 1px;
}

.content {
    height: 100px;
}
footer {
    z-index: 500;
    &.regPage{
        position: relative;
        z-index: -500;
    }
    position: absolute;
    &.dshbrd{
        position: fixed;
    }
    bottom: 0;    
    background: $navbar-background-color;
    border-color: $navbar-background-color;
    width: 100%;
    color: $navbar-font-color;
    .container {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 30px;
        p {
            margin: 0px;
            color: darken($navbar-background-color, 20%);
        }
        a {
            color: lighten($navbar-background-color, 35%);
        }
    }
    #socialMedia {
        text-align: right;
        display: inline-block;
        width: 100%;
        a {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}