// Responsive variable-height footer hack
html, body {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    overflow-x: hidden;
}

nav {
    display: table-row;
    height: 1px;
}

.content {
    display: table-row;
    height: 100px;
}

footer {
    position: absolute;
    background: $navbar-background-color;
    border-color: $navbar-background-color;
    width: 100%;
    color: $navbar-font-color;
    .container {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 30px;
        p {
            margin: 0px;
            color: darken($navbar-background-color, 20%);
        }
        a {
            color: lighten($navbar-background-color, 35%);
        }
    }
    #socialMedia {
        text-align: right;
        display: inline-block;
        width: 100%;
        a {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}