body {
    margin: 0;
    padding: 0;
}
#leader {
    min-height: 100vh;
    background-size: cover;
    background-image: url('../../image/dogChair.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    margin-top: -70px;
    .container {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    h1, p {
        font-weight: normal;
        text-shadow: 0px 2px 5px #111;
    }
    #description {
        background: rgba(#000, 0.5);
    }
    #signUp {
        background-color: rgba(#48CFAD, 0.8);
        border-color:rgba(#48CFAD, 0.8);
    }
    .button-group {
        margin-top: 5vh;
    }
    p {
        margin-top: 5vh;
    }
}
#pttrInfo {
    padding: 0;
    margin: 0;
    display: flex;
    .onHoverInfo1 {
        @extend %infoBlock;
    }
    .onHoverInfo2 {
        @extend %infoBlock;
    }
    .onHoverInfo3 {
        @extend %infoBlock;
    }
    .onHoverInfo4 {
        @extend %infoBlock;
    }
}
