%figcaption {
    position: absolute;
    top: 0;
    left: 0;
    @include sameWH(100%);
}
%figext {
    margin: 0;
}
%effectTransform {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}
%translate3d {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#userdash {
    @extend %dashmenu;
    .profile {
        .left {
            border: 5px solid gray;
            height: 200px;
            width: auto;
        }
    }
    .maincnt {
        form.navbar-left {
            text-align:center;
            width: 100%;
            padding: 5px 15px !important;
            input {
                border-color: #bbebdf;
                width: 150px;
            }
            .fbtn {
                background-color: $base-color-g;
                border-color: #bbebdf !important;
                color: white;
            }
            .fbtn:hover, .fbtn:active, .fbtn:focus {
                background-color: #bbebdf;
                border-color: $base-color-g !important;
                color: $base-color-g;
            }
            input:hover, input:focus {
                border-color: $base-color-g;
            }
        }
        .animal {
            position: relative;
            height: 330px;
            padding-left: 0;
            padding-right: 0;
            .info_container {
                cursor: pointer;
                position: absolute;
                @include sameWH(100%);
                .fadeOut {
                    display: none;
                }
                @extend %fadeIn;
                .overlay {
                    position: absolute;
                    @include sameWH(100%);
                    background-color: black;
                    z-index: 2;
                    opacity: .2;
                }
                .icon_area {
                    @extend %fadeInUp;
                    button {
                        background-color: #48CFAD;
                        border-color: #bbebdf !important;
                        color: white;
                        &:hover {
                            color: #E6E6E6 !important;
                        }
                    }
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 50px;
                    background-color: white;
                    @extend %flexCenter;
                    padding-top: 3.5%;
                    cursor: default !important;
                    ul {
                        padding: 0;
                    }
                    li {
                        cursor: pointer !important;
                        display: inline;
                    }
                    z-index: 5;
                }
                .title {
                    &.fadeInUp {
                        display: block;
                    }
                    position: absolute;
                    top: 0;
                    width: 100%;
                    text-align: center;
                    color: white;
                    z-index:1;
                }
            }
        }
    }
    .menu-button {
        color: white;
    }
}
#shelterdash {
    .menu-button {
        color: #bbebdf;
    }
    ul {
        padding: 0;
    }
    @include sameWH(100%);
    #removeAnimal {
        h2 {
            text-align: center;
            background-color: #DA4453;
        }
    }
    #sheltermain {
        .blk-box {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            margin: 12px;
        }
        .title-blk {
            border-bottom: 2px solid #ecf0f1;
        }
        .sub_titleblk {
            width: 100%;
            h5, h4, h3 {
                text-align: center;
            }
        }
        .solidB {
            background-color: $base-color-g;
            color: white;
            padding: 2%;
            a{
                color: white;
            }
            ul {
                .collapse {
                    li {
                        text-align: left;
                    }
                }
                text-align: center;
                list-style-type: none;
            }
        }
        .info_blk {
            overflow-x: auto;
            ul {
                display: inline-flex;
                li {
                    width: 150px;
                    height: 60px;
                }
            }
        }
        .hdr-titleblk {
            h3, h4 {
                text-align: center;
            }
            background-color: #ecf0f1;
            padding: 10px;
        }
        .mg-top-20 {
            margin-top: 20px;
        }
    }
    .maincnt {
        form.navbar-left {
            width: 100%;
            padding: 5px 15px !important;
            input {
                border-color: #bbebdf;
                width: 150px;
            }
            .fbtn {
                background-color: $base-color-g;
                border-color: #bbebdf !important;
                color: white;
            }
            .fbtn:hover, .fbtn:active, .fbtn:focus {
                background-color: #bbebdf;
                border-color: $base-color-g !important;
                color: $base-color-g;
            }
            input:hover, input:focus {
                border-color: $base-color-g;
            }
        }
        .animal {
            position: relative;
            height: 330px;
            padding-left: 0;
            padding-right: 0;
            .info_container {
                cursor: pointer;
                position: absolute;
                @include sameWH(100%);
                .fadeOut {
                    display: none;
                }
                @extend %fadeIn;
                .overlay {
                    position: absolute;
                    @include sameWH(100%);
                    background-color: black;
                    z-index: 2;
                    opacity: .2;
                }
                .icon_area {
                    @extend %fadeInUp;
                    button {
                        background-color: #48CFAD;
                        border-color: #bbebdf !important;
                        color: white;
                        &:hover {
                            color: #E6E6E6 !important;
                        }
                    }
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 50px;
                    background-color: white;
                    @extend %flexCenter;
                    padding-top: 3.5%;
                    cursor: default !important;
                    ul {
                        padding: 0;
                    }
                    li {
                        cursor: pointer !important;
                        display: inline;
                    }
                    z-index: 5;
                }
                .title {
                    &.fadeInUp {
                        display: block;
                    }
                    position: absolute;
                    top: 0;
                    width: 100%;
                    text-align: center;
                    color: white;
                    z-index:1;
                }
            }
        }
    }
    .mbtn {
        background-color: #48CFAD;
        border-color: #bbebdf !important;
        color: white;
        &:hover {
            color: #E6E6E6 !important;
        }
    }
    .close {
        color: $base-color-g;
    }
    .stray-info, .well {
        -webkit-box-shadow: 0 1px 2px rgba($base-color-g, .5);
    }
    @extend %dashmenu;
    // .nvcont {
    //     .sidebumb {
    //         position: absolute;
    //         top: 43%;
    //         width: 50px;
    //         cursor: pointer;
    //         height: 60px;
    //         left: 90%;
    //         @include borderradius(0px, 200px, 200px, 0px);
    //         border: 2px solid #bbebdf;
    //         background-color: white;
    //         z-index: -10;
    //         .menuIcon {
    //             color: $base-color-g;
    //             z-index: 100;
    //             text-align: right;
    //             margin-top: 38%;
    //             margin-left: 51%;
    //             margin-right: auto;
    //             font-size: 20px;
    //         }
    //     }
    //     padding-left: 0;
    //     padding-right: 0;
    //     height: 100%;
        
    // }
}
