<div class="row maincnt">
            <form class="navbar-left navbar-form">
                <div class="form-group">
                    <label for="animaltype">Animal Type:</label>
                    <select name="animal" id="animaltype" ng-model="animalTypeSelection" ng-options="animalT as animalT.type for animalT in uniqueList" >
                        <option value="" >Select Type</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="breed">Breed:</label>
                    <select name="breed" id="breed" ng-model="breedListSelection" ng-options="uniquebreeds.breed for uniquebreeds in AnimalTypeSelected(animalTypeSelection.breeds)">
                        <option value="">Select Type</option>
                    </select>
                </div>
            </form>
    <div class="col-sm-3 animal" ng-repeat="pet in animals |  emptyFields  |animalytype:animalTypeSelection.type:breedListSelection | limitTo: 50" back-img="{{pet.pictures.largePicture}}" ng-mouseenter="enterImage = true" ng-mouseleave="enterImage = false">
        <div class="info_container animated" ng-class="{ fadeIn:enterImage, fadeOut:!enterImage }">
            <div class="overlay" ng-click="populate(pet)" data-toggle="modal" data-target="#animalInfo"></div>
            <div class="icon_area animated" ng-class="{ fadeInUp:enterImage , fadeOutDown:!enterImage }">
                <ul>
                    <li>
                        <button class="btn btn-default">Like</button>
                    </li>
                    <li>
                        <button class="btn btn-default">Update</button>
                    </li>
                    <li>
                        <button class="btn btn-default" ng-click="populate(pet);injectToAnimalService(pet)" data-toggle="modal" data-target="#removeAnimal">Remove</button>
                    </li>
                </ul>
            </div>
            <div class="title animated" ng-class="{fadeOutDown:!enterImage , fadeInUp:enterImage }">
                <h4>{{pet.name}}</h4>
                <p>
                    Primary Breed:
                    <br> {{pet.breed}}
                </p>
            </div>

        </div>
    </div>
</div>