<div class="menu-wrap">
    <nav class="menu">
        <div class="profile"><a ui-sref="app.shelter.dashboard"><img src="image/shelter.jpg" alt="" /><span>Animal Shelter</span></a>
        </div>
        <div class="link-list" ng-if="isRegularPage() === false">
            <a ng-repeat="tab in tabs" ng-click="onClickTab(tab)"><span>{{tab.tab}}</span></a>
        </div>
        <div class="link-list" ng-if="isRegularPage() === true">
            <a ng-repeat="tab in alternativeTabs" ng-click="onClickTab(tab)"><span>{{tab.tab}}</span></a>
        </div>
        <div class="icon-list">
            <!-- takes the user to their dash board -->
            <a ui-sref="app.shelter.view"><i class="fa fa-fw fa-home"></i></a>
            <!-- Takes the user to their own view -->
            <a ui-sref="app.shelter.edit"><i class="fa fa-fw fa-question-circle"></i></a>
            <!-- log out  -->
            <a><i class="fa fa-fw fa-power-off"></i></a>
        </div>
    </nav>
</div>
<!-- end menu -->
<!-- button to activate the menu -->
<!-- start btn -->
<button ng-click="activate()" class="menu-button" id="open-button"><i class="fa fa-fw fa-cog"></i><span>Open Menu</span>
</button>
